@import 'tailwindcss';
@tailwind utilities;

:root {
  --primary: 220 68% 42%;
  --primary-foreground: 208 94% 87%;
  --text-h: 220 55% 21%;
}

@theme inline {
    --font-primary: "Poppins", "sans-serif";
    --color-app-primary: hsl(var(--primary));
    --color-app-primary-foreground: hsl(var(--primary-foreground));
    --color-app-text-h: hsl(var(--text-h));
  

    --color-azul-primario: #3498db;
    --color-azul-secundario: #4fa3e0;
    --color-azul-5: rgba(52,152,219,0.05);
    --color-azul-20: rgba(52,152,219,0.2);
    --color-azul-30: rgba(52,152,219,0.3);
    --color-azul-40: rgba(52,152,219,0.4);
    --color-azul-50: rgba(52,152,219,0.5);
    --color-azul-marino-10: rgba(41,128,185,0.1);
    --color-azul-marino-20: rgba(41,128,185,0.2);
    --color-fondo-claro: #EBF8FF;
    --color-fondo-claro-alt: #e6f7ff;
    --color-texto-oscuro: #2c3e50;
    --color-texto-gris-oscuro: #34495e;
    --color-gris-700: #444;
    --color-gris-800: #333;
    --color-verde-5: rgba(39,174,96,0.05);
    --color-verde-20: rgba(46,204,113,0.2);
    --color-rojo-5: rgba(192,57,43,0.05);
    --color-rojo-15: rgba(231,76,60,0.15);
    --color-sombra-5: rgba(0,0,0,0.05);
    --color-sombra-10: rgba(0,0,0,0.1);
    --color-whatsapp: #25d366;
    --color-facebook: #3b5998;
  }

