@import 'tailwindcss';
@tailwind utilities;

:root {
  --primary: 220 68% 42%;
  --primary-foreground: 208 94% 87%;
  --text-h: 220 55% 21%;
}

@theme inline {
    --font-primary: "Poppins", "sans-serif";
    --color-app-primary: hsl(var(--primary));
    --color-app-primary-foreground: hsl(var(--primary-foreground));
    --color-app-text-h: hsl(var(--text-h));
  
    --color-azul: oklch(0.93 0.035 232.06);       
    --color-azul-claro: oklch(0.78 0.19 240); 
    --color-blanco: oklch(1.00 0.00 0);        
    --color-oscuro: oklch(0.35 0.05 260);       
    --color-gris-claro: oklch(0.93 0.06 210);   
    --color-azul-mar: oklch(0.65 0.21 250);     
    --color-azul-mas-claro: oklch(0.85 0.13 220); 
    --color-gris: oklch(0.84 0.02 230);         
    --color-verde: oklch(0.91 0.09 160);        
    --color-azul-fondo: oklch(0.97 0.0167 230.9);  
    --color-rojo-claro: oklch(0.88 0.10 30);    
    
    
  }

